@media (max-width: 992px) {
 #ccc-anniv-logo {
  margin: 1em 10em;
 }
}

@media (max-width: 567px) {
  #ccc-anniv-logo {
    margin: 1em 5em;
  }
  
}

@media (max-width: 480px) {
  #ccc-anniv-logo {
    margin: 1em 2.5em;
  }
}