
/* =Do Something
----------------------------------------------- */
.do-something {
	padding: 30px;
	.attachment-post-thumbnail {
		float: left;
		position: relative;
		right: 30px;
		top: 8px;
		margin-bottom: 40px;
	}
	#extended {
		width: 93.2%;
		padding: 30px 30px 60px;
		background: #fff;
		border: 9px solid #D5D6D8;
		position: relative;
		right: 4px;
	}
	h2 {
		font-size: 48px;
		color: #004682;
		line-height: 1;
		text-align: center;
		margin-bottom: 18px;
		font: 40px $bebas-font;
	}
	h3 {
		font-size: 28px;
		color: #66686A;
		margin-bottom: 12px;
	}
	.lower-left, .lower-mid {
		width: 40%;
		padding: 10px 15px;
		background: #F3F3F4;
		float: left;
		margin-right: 35px;
		height: 750px;
		position: relative;
	}
	.lower-button {
		position: absolute;
		bottom: -15px;
		width: 100%;
		left: 0;
		text-align: center;
		font: 36px/36px $bebas-font;
		color: #fff;
		span {
			background: #FFA300;
			padding: 10px 14px;
			box-shadow: 2px 2px 0 #DEE2E6;
		}
		span:hover {
			background: #FBB236;
		}
	}
	.lower-connect {
		float: left;
		width: 100%;
	}
}

@media screen and (max-width: 1099px) {
	.do-something {
		padding: 30px;
		#extended {
			padding: 30px 20px 60px;
		}
		.lower-left {
			width: 43%;
			padding: 25px 2.5%;
			margin-right: 4%;
		}
		.lower-mid {
			width: 43%;
			padding: 25px 2.5%;
			margin-right: 0;
		}
		.lower-connect {
			clear: both;
			float: none;
			padding-top: 80px;
			margin: 80px auto;
			width: 340px;
		}
	}
}

@media screen and (max-width: 767px) {
	.do-something {
		padding: 30px;
	}
	.do-something #extended {
		width: 90%;
		padding: 20px 4% 30px;
		background: #fff;
		border: 9px solid #D5D6D8;
		position: relative;
		right: 4px;
		}
	.do-something .lower-left {
		width: 95%;
		padding: 25px 2.5%;
		height: auto;
		margin-right: 0%;
		
	}
	.do-something .lower-mid {
		width: 95%;
		height: auto;
		margin-top: 40px;;
		padding: 25px 2.5%;
		margin-right: 0;
	}
	.do-something .intro {
		clear: both;
	}
	
}
@media screen and (max-width: 499px) {
	.do-something .lower-connect iframe {
		max-width: 85% !important;
	}
}